[controller]
slurmctld ansible_user=ubuntu     # Override with the OS default user

[compute]
slurm ansible_user=debian
allenssd ansible_user=centos

[all:vars]
ansible_user=tommy                # Fallback if a host entry above stays commented
ansible_ssh_common_args='-o StrictHostKeyChecking=no'
ansible_become=yes
