# roles/cleanup/tasks/main.yml

- name: Stop services
  ansible.builtin.systemd:
    name: "{{ item }}"
    state: stopped
    enabled: false
  loop:
    - munge
    - slurmctld
    - slurmd
  ignore_errors: true

- name: Remove packages
  ansible.builtin.apt:
    name:
      - munge
      - libmunge2
      - libmunge-dev
      - slurm-wlm
      - slurmctld
      - slurmd
    state: absent
    purge: true
    autoremove: true
  become: yes

- name: Delete config and spool dirs
  ansible.builtin.file:
    path: "{{ item }}"
    state: absent
  loop:
    - /etc/munge
    - /var/log/munge
    - /var/lib/munge
    - /etc/slurm
    - /var/spool/slurm
    - /var/spool/slurmd
  become: yes
