---
- name: Update /etc/hosts on all nodes
  hosts: controller,compute
  become: yes
  gather_facts: no
  roles:
    - role: cluster_hosts

- name: Setup all nodes (munge + slurm)
  hosts: all
  become: yes
  roles:
    - munge
    - slurm

- name: Restart munge on all nodes and validate
  hosts: all
  become: yes
  roles:
    - role: munge_restart

- name: Validate MUNGE token from controller to compute nodes
  hosts: controller
  gather_facts: no
  roles:
    - role: munge_validate
