- name: Generate host entries
  copy:
    dest: /etc/hosts
    content: |
      127.0.0.1   localhost
      ::1         localhost ip6-localhost ip6-loopback
      fe00::0     ip6-localnet
      ff00::0     ip6-mcastprefix
      ff02::1     ip6-allnodes
      ff02::2     ip6-allrouters

      {% for host in groups['all'] %}
      {{ hostvars[host]['ansible_host'] }} {{ host }}
      {% endfor %}
    owner: root
    group: root
    mode: '0644'
