# 唯一真相：管理帳號
mgmt_user: pacers

# 讓所有連線預設用 mgmt_user
ansible_user: "{{ mgmt_user }}"
ansible_become: true

# 預設使用的私鑰（可換）
ansible_ssh_private_key_file: "~/.ssh/id_rsa"

# （可選）在 bootstrap 時要塞進節點的本機公鑰
mgmt_pubkey_src: "~/.ssh/id_rsa.pub"

# （可選）controller 內部用金鑰型態
mgmt_key_type: rsa
mgmt_key_bits: 4096
